<ul>
    <li><b>Question : What is component ?</b></li>
    <ul>
        <li>Answer : Component is basic buiding block in angular, using that we can create specific functionality
            For example : in normal website we have basic three parts available like header, body and footer ok. so
            we can create 3 different component for each three part. 
        </li>
        <li>We can create header component, body component and footer component and all three component have its own
            specific functionality.
        </li>
        <li>Component contain mainly 4 file, 
            <ul>
                <li>.css file : using this file we can set style for that pericular component html</li>
                <li>.html file :  in this file we can create our html design</li>
                <li>spec.ts file : using this we can test our component</li>
                <li>component.ts file : in this file we can create and use property,logic and query connection or pass data</li>
            </ul>
        </li>
        <li>
            For create component we just need to run below commad
            <p>ng generate component "Component name" OR ng g c "Component name"</p>
        </li>

    </ul>
</ul>